* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border: 1px solid black;
  max-width: 1320px;
  height: 200px;
  border-radius: 20px;
  margin: 20px auto;
  background: rgb(131, 188, 245);
  box-shadow: 0px 5px 5px 5px rgb(3, 66, 122);
}

.navbar > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.navbar > ul > li{
    list-style: none;
    
}

.navbar > ul > li > a{
    text-decoration: none;
    font-size: 2rem;
    color: blue;
    border-bottom: 3px solid rgb(3, 3, 85);
    
}