.blog{
    border: 3px solid black;
    max-width: 1320px;
    margin: auto;
    border-radius: 15px;
    background: rgb(219, 218, 218);
}
.blog > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blog > ul > li{
    border: 3px solid black;
    width: 320px;
    height: 250px;
    margin-top: 20px;
    border-radius: 12px;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    color: blue;
    background: #fff;
    box-shadow: 0px 2px 2px 2px rgb(3, 66, 122);
}
.blog > ul > li > img{
    width: 100%;
    height: 100%;
}